
/*Частина Header*/
.container {width: 1158px; padding: 0 15px;}
.container.header-container { gap: 332px; }
.navigation-list {display: flex; align-items: center; gap:40px; } 
.navigation-link {
    letter-spacing: 0.02em; 
    line-height: 1.5; 
    font-weight: 500; 
    text-decoration: none; 
    color: #2E2F42; 
    padding: 24px 0;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover {color: #404BBF; }
.navigation-link:active {color: #404bbf; }
.navigation-link:focus {color: #404bbf; }
.navigation-link.studio {color: #404bbf; position: relative; }
.navigation-link.studio::after {
    position:absolute;
    bottom: -1px;
    left: 0;
 content: "";
border-radius: 2px;
    width: 48px;
    height: 4px;
background: #404bbf;
}
.contacts-info-list {display: flex; gap:40px; padding-top: 24px; padding-bottom: 24px; }
.contact {
    text-decoration: none; 
    color: #434455; 
    font-style: normal; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    max-width: 153px; 
    max-height: 24px; 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {color:#404bbf; }
.contact:active {color:#404bbf; }
.contact:focus {color: #404bbf; }
.contacts-info {font-style: normal;}
/*main title*/
.container.container-main-title { 
    max-width: 1440px;
}
.main-title {
    line-height: 1.07; 
    padding: 188px 0; 
    max-width: 1440px;
}
.title {
margin-bottom:  48px; 
font-size: ;
line-height: ;
}

/*main advantages*/
.advantages {padding: 120px 0; }

.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    padding: 24px 100px;
}
.icon {fill: #FFFFFF; }
.advantages-list-container {  gap: 24px; justify-content: center; }
.advantages-list {width: calc((100% - 3 * 24px) / 4); }
/*main team*/
.team {padding: 120px 0; }
.team-list { 
    width: calc((100% - 72px) / 4); 
}
.team-list-container {
    gap: 24px; 
}

/*main portfolio*/
.portfolio {padding-top: 120px;
    padding-bottom: 120px; }
.portfolio-list-container {flex-wrap: wrap; row-gap: 48px; column-gap: 24px; }
.portfolio-list {  
    width: calc((100% - 48px) / 3);
}
/*Footer*/
.footer { padding: 100px 0; }
.container.footer { gap: 80px; align-items: baseline; margin: 0 156px; }
.social{ margin-left: 40px; }
.footer-text {width: 264px; }
.subscribe-text {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}
.email-subscribe {
    width: 264px;
    padding-left: 16px;
    margin-right: 24px;
}

/*modal*/

.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}
.close-btn {
    border-radius: 50%;
    margin-bottom: 24px;
}

.input {
    padding-left: 38px;
}

.user-comment {
    color: rgba(46, 47, 66, 0.4);
    }
.user-comment::placeholder {
        color: rgba(46, 47, 66, 0.4);
}

.span-checkbox {
    height: 16px;
}
