.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a{
   text-decoration: none; 
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }    
}

/*header*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container.header-container {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list,
.contacts-info {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    text-transform: uppercase;
}

.snap-logo-header {
    color: #2e2f42
}

.burger-btn {
    padding: 16px 0 16px 16px;
    border: none;
    padding: 0;
    background-color: transparent;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .container.header-container {
        justify-content: space-between;
    }

    .logo {
        margin-right: 120px;
    }
.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link {
    display: block;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover {
    color: #404BBF;
}

.navigation-link:active {
    color: #404bbf;
}

.navigation-link:focus {
    color: #404bbf;
}

.navigation-link.studio {
    color: #404bbf;
    position: relative;
}

.navigation-link.studio::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
}

.contacts-info {
    display: block;
    align-items: end;
}

.contacts-info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact {
    text-decoration: none;
    color: #434455;
    font-style: normal;
    font-size: 11px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover {
    color: #404bbf;
}

.contact:active {
    color: #404bbf;
}

.contact:focus {
    color: #404bbf;
}

.contacts-info {
    font-style: normal;
}
}

@media screen and (min-width: 1158px) {
    .contact {
        font-size: 16px;
        line-height: 1.5;
    }

    .logo {
        margin-right: 76px;
    }
}

/*mobile-menu*/
.mobile-menu {
    background: #fff;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    top:50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
}

.btn-menu {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid #2e2f42;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-menu:hover {
    background-color: #404bbf;
    border: none;
}

.close-btn-menu:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn-icon {
    fill: #2E2F42;
}

.close-btn:hover .close-btn-icon {
    fill: #fff;
}

.close-btn:focus .close-btn-icon {
    fill: #ffffff;
}

.nav-menu-container {
    margin-bottom: auto;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link-menu {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link-menu:hover {
    color: #404BBF;
}

.nav-link-menu:active {
    color: #404bbf;
}

.nav-link-menu:focus {
    color: #404bbf;
}

.contacts-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.contact-menu {
    text-decoration: none;
    color: #434455;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 193px;
    max-height: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-menu:hover {
    color: #404bbf;
}

.contact-menu:active {
    color: #404bbf;
}

.contact-menu:focus {
    color: #404bbf;
}

.contacts-menu-info {
    font-style: normal;
}

.menu-icon-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding: 0;
}

.menu-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    border: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-item {
    width: 40px;
    height: 40px;
}

.menu-icon-link:hover {
    background-color: #404bbf;
}

.menu-icon-link:active {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*main title*/
.main-title {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/dark-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 72px 0;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 72px;
    margin-left: 52px;
    margin-right: 52px;
}

.button {
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    align-items: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .main-title {
        padding: 112px 0;
        background-image: url(../images/hero/dark-bg-tab.jpg);
    }
    
    .title {
        font-size: 56px;
        margin-bottom: 36px;
        margin-left: 136px;
        margin-right: 136px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .main-title {
        padding: 188px 0;
        max-width: 1440px;
        background-image: url(../images/hero/dark-bg-desk.jpg);
    }

    .title {
       margin-bottom: 45px;
        margin-left: 472px;
        margin-right: 472px;
    }
    .container.container-main-title {
            max-width: 1440px;
        }

    }

/*main advantages*/
.advantages {
    padding: 96px 0
}

.icon-box {
    display: none;
}

.advantages-list-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

.advantages-list {
    width: 100%;
}

.advantages-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.advantages-text {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .advantages-list-container {
        column-gap: 24px;
}

    .advantages-list {
        width: calc((100% - 24px) / 2);
    }

    .advantages-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .advantages {
            padding: 120px 0;
        }
    .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        padding: 24px 100px;
        }
        
        .icon {
            fill: #FFFFFF;
        }

    .advantages-list {
        width: calc((100% - 24px * 3) / 4);
    }
}

/*main team*/
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

.team-list {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
}

.team-name-container {
    padding: 32px 16px;
}

.icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icons-box-contact {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon-contact {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list-container {
       column-gap: 24px; 
       margin-left: 92px;
       margin-right: 92px;
    }
    
    .team-list {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list-container {
        margin: 0;
    }

    .team-list {
        width: calc((100% - 24px * 3) / 4);
    }
    
}

/*main portfolio*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-list {
    width: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.card-content-container {
    position: relative;
    overflow: hidden;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .card-content {
    transform: translateY(0%);
}

.portfolio-list-title {
    margin-bottom: 8px;
}

.portfolio-name-apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

@media screen and (min-width: 768px) {
    .portfolio-list-container {
        row-gap: 72px;
        column-gap: 24px;
    }
    
    .portfolio-list {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list-container {
        row-gap: 48px;
    }
        .portfolio-list {
            width: calc((100% - 24px * 2) / 3);
        }
    
}

/*Footer*/
.footer {
    background-color: #2E2F42;
}

.container.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 72px;
}

.social {
    margin: 0 auto;
}

.trailing-icons-footer {
    display: flex;
    gap: 16px;
}

.logo-footer {
    display: inline-block;
    margin: 0 86px 16px 86px;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-span {
    color: #F4F4FD;
}

.footer-social-link {
    margin: 0 56px 16px 56px;
    font-weight: 500;
    color: #fff;
}

.icon-box-footer {
    width: 40px;
    height: 40px;
}

.icon-contact-footer {
    margin: 8px;
    fill: #f4f4fd;
}

.icon-link.footer-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link.footer-icon:hover {
    background-color: #31d0aa;
}

.icon-link.footer-icon:focus {
    background-color: #31d0aa;
}

.footer-text {
    color: #F4F4FD;
}

.subscribe-text {
    color: #fff;
    font-weight: 500;
    margin: 0 106px 16px 107px;
}

.email-subscribe {
    border: 1px solid #fff;
    padding: 8px 16px;
    overflow-y: auto;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    overflow-y: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.email-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.subscribe-btn {
    margin: 16px 61px 0 62px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
}

.subscribe-btn:hover {
    background-color: #404BBF;
}

.subscribe-btn:focus {
    background-color: #404BBF;
}

.icon-send {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .container.footer {
        align-items: flex-start;
        column-gap: 24px;
    }
    
    .footer-text-container {
        width: 264px;
    }

    .logo-footer {
        margin-left: 0;
        margin-right: 149px;
    }

    .social {
        margin: 0;
    }

    .subscribe {
        width: 453px;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }
    .subscribe-btn {
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .container.footer {
            column-gap: 80px;
        }
    
    .footer-text-container {
        margin-right: 40px;
    }
    
}

/*modal*/
.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
}

.close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn-icon {
    fill: #2e2f42;
}

.close-btn:hover .close-btn-icon {
    fill: #fff;
}

.close-btn:focus .close-btn-icon {
    fill: #ffffff;
}

.text-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.form-container {
    width: 100%;
}

.form-comment {
    width: 100%;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.container-modal {
    position: relative;
}

svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    height: 24px;
    left: 16px;
    fill: #2e2f42;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    width: 100%;
    height: 40px;
    padding-left: 34px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #4d5ae5;
    outline: none;
}

input:focus+svg {
    fill: #4d5ae5;
}

.form-comment {
    margin-bottom: 16px;
}

.user-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-top: 4px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    opacity: 0.5;
}

.user-comment:focus {
    border: 1px solid #4d5ae5;
    outline: none;
}

.privacy-policy {
    color: #4d5ae5;
}

.label.terms-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.user-privacy-container {
    margin-bottom: 24px;
}

.span-checkbox {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
}


.terms:checked+.label>span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.user-privacy {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
}

.terms:active {
    border-radius: 2px;
    fill: #404bbf;
    border: 1px solid #404bbf;
}

.send-btn {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #fff;
    display: block;
    align-items: center;
    border: none;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover {
    background-color: #404BBF;
}

.send-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}